<%= form_with model:@product do |f| %>
    
    <div>
        <%= f.text_field :name, placeholder:'Name' %>
    </div>

    <div>
        <%= f.text_field :serial, placeholder:'Serial' %>
    </div>

    <div>
        <%= f.text_area :description, placeholder:'Description', rows:5%>
    </div>

    <div>
        <%= f.collection_select :category_id, Category.all, :id, :name  %>
    </div>


    <div>
        <%= f.submit 'Actualizar' %>
    </div>

<% end %>